// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)
$primary: #379392;
$success: #91f1b4;
$info: #cbdd70;
$warning: #bc9f1c;

@import "../scss/bootstrap/scss/bootstrap";

// Then add additional custom code here

.btn {
    color: #fff; // Establece el color del texto en blanco
}

.btn:hover,
.btn:active {
    color: #fff !important;
}

.btn-primary,
.btn-secondary,
.btn-success,
.btn-danger {
    color: #ffffff;
}

.btn-outline-primary{
    color: #379392;
    border-color: #379392;
    background-color: #fff;
    opacity: 100%;
}

.btn-outline-secondary{
    color: #626262;
    border-color: #626262;
    background-color: #fff;
    opacity: 100%;
}

.btn-outline-success{
    color: #176B87;
    border-color: #176B87;
    background-color: #fff;
    opacity: 100%;
}

.btn-outline-danger{
    color: #bb0000;
    border-color: #bb0000;
    background-color: #fff;
    opacity: 100%;
}

.btn-outline-primary:hover,
.btn-outline-primary:active{
    background-color: #379392 !important;
    border-color: #379392 !important;
}

.btn-outline-secondary:hover,
.btn-outline-secondary:active{
    background-color: #626262 !important;
    border-color: #626262 !important;
}

.btn-outline-success:hover,
.btn-outline-success:active{
    background-color: #176B87 !important;
    border-color: #176B87 !important;
}

.btn-outline-danger:hover,
.btn-outline-danger:active{
    background-color: #bb0000 !important;
    border-color: #bb0000 !important;
}
